html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: var(--light-bg);
    color: var(--heading-color);
    min-height: 100vh;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

img,
figure,
table,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.2;
}

p {
    margin-top: 0;
}